body {
  background: #e3ebf6;
}

.list ul li .entry-copy {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.list ul li {
  margin-bottom: 2.4rem;
}

.list ul li .description {
  margin-top: 0.4rem;
  opacity: 0.8;
}
